<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Пользователи</title>
</head>
<body>
<div th:insert="/fragments/header-footer.html :: header"></div>
<div th:if="${#messages}">
    <p th:text="${message}"></p>
</div>
<div th:each="el : ${patient1}">
    <form method="post" th:object="${patient}">
        <input name="name" placeholder="Имя" type="text" th:value="${el.name}"
               style="margin-bottom: 10px; margin-left: 10px; border-radius: 5px;"><br>
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: darkred"></div>

        <input name="surname" placeholder="Фамилия" type="text"  th:value="${el.surname}"
               style="margin-bottom: 10px; margin-left: 10px; border-radius: 5px;"><br>
        <div th:if="${#fields.hasErrors('surname')}" th:errors="*{name}" style="color: darkred"></div>

        <input name="patronymic" placeholder="Отчество" type="text"  th:value="${el.patronymic}"
               style="margin-bottom: 10px; margin-left: 10px; border-radius: 5px;"><br>
        <div th:if="${#fields.hasErrors('patronymic')}" th:errors="*{patronymic}" style="color: darkred"></div>

        <input name="passSeria" placeholder="Серия паспорта" type="text"  th:value="${el.passSeria}"
               style="margin-bottom: 10px; margin-left: 10px; border-radius: 5px;"><br>
        <div th:if="${#fields.hasErrors('passSeria')}" th:errors="*{passSeria}" style="color: darkred"></div>

        <input name="passNum" placeholder="Номер паспорта" type="text"  th:value="${el.passNum}"
               style="margin-bottom: 10px; margin-left: 10px; border-radius: 5px;"><br>
        <div th:if="${#fields.hasErrors('passNum')}" th:errors="*{passNum}" style="color: darkred"></div>

        <input name="OMS" placeholder="ОМС" type="text"  th:value="${el.OMS}"
               style="margin-bottom: 10px; margin-left: 10px; border-radius: 5px;"><br>
        <div th:if="${#fields.hasErrors('OMS')}" th:errors="*{OMS}" style="color: darkred"></div>

        <input id="phoneNum" name="phoneNum" placeholder="Номер телефона" type="text" th:value="${el.phoneNum}"
               style="margin-bottom: 10px; margin-left: 10px; border-radius: 5px;"><br>
        <div th:if="${#fields.hasErrors('phoneNum')}" th:errors="*{phoneNum}" style="color: darkred"></div>
        s
        <input id="dete" name="birthDate" placeholder="День рождения" type="date"  th:value="${el.birthDate}"
               style="margin-bottom: 10px; margin-left: 10px; border-radius: 5px;"><br>
        <div th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}" style="color: darkred"></div>
        <script>
            document.getElementById('dete').valueAsDate = new Date();
        </script>

        <input name="email"  placeholder="Эл. почта" type="text" th:value="${el.email}"
               style="margin-bottom: 10px; margin-left: 10px; border-radius: 5px;"><br>
        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: darkred"></div>


        <button type="submit" class="btn btn-success" style="margin-left: 10px">Добавить</button>
    </form>
</div>
</body>
</html>