<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Пациенты</title>
</head>
<body>
<div th:insert="/fragments/header-footer.html :: header"></div>
<div th:if="${#messages}">
    <p th:text="${message}"></p>
</div>
<form action="/patients/add" method="post" th:object="${patient}">
    <input name="name" th:field="*{name}" placeholder="Имя" type="text"
           style="margin-bottom: 10px; margin-left: 10px; border-radius: 5px;"><br>
    <div th:if="${#fields.hasErrors('Name')}" th:errors="*{Name}" style="color: darkred"></div>

    <input name="surname" th:field="*{surname}" placeholder="Фамилия" type="text"
           style="margin-bottom: 10px; margin-left: 10px; border-radius: 5px;"><br>
    <div th:if="${#fields.hasErrors('Surname')}" th:errors="*{Surname}" style="color: darkred"></div>

    <input name="patronymic" th:field="*{patronymic}" placeholder="Отчество" type="text"
           style="margin-bottom: 10px; margin-left: 10px; border-radius: 5px;"><br>
    <div th:if="${#fields.hasErrors('Patronymic')}" th:errors="*{Patronymic}" style="color: darkred"></div>

    <input name="passSeria" th:field="*{passSeria}" placeholder="Серия паспорта" type="text"
           style="margin-bottom: 10px; margin-left: 10px; border-radius: 5px;"><br>
    <div th:if="${#fields.hasErrors('PassSeria')}" th:errors="*{PassSeria}" style="color: darkred"></div>

    <input name="passNum" th:field="*{passNum}" placeholder="Номер паспорта" type="text"
           style="margin-bottom: 10px; margin-left: 10px; border-radius: 5px;"><br>
    <div th:if="${#fields.hasErrors('PassNum')}" th:errors="*{PassNum}" style="color: darkred"></div>

    <input name="OMS" th:field="*{OMS}" placeholder="ОМС" type="text"
           style="margin-bottom: 10px; margin-left: 10px; border-radius: 5px;"><br>
    <div th:if="${#fields.hasErrors('OMS')}" th:errors="*{OMS}" style="color: darkred"></div>

    <input id="phoneNum" name="phoneNum" th:field="*{phoneNum}" placeholder="Номер телефона" type="text"
           style="margin-bottom: 10px; margin-left: 10px; border-radius: 5px;"><br>
    <div th:if="${#fields.hasErrors('phoneNum')}" th:errors="*{phoneNum}" style="color: darkred"></div>

    <input id="dete" name="birthDate" th:field="*{birthDate}" placeholder="День рождения" type="date"
           style="margin-bottom: 10px; margin-left: 10px; border-radius: 5px;"><br>
    <div th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}" style="color: darkred"></div>
    <script>
        document.getElementById('dete').valueAsDate = new Date();
    </script>

    <input name="email" th:field="*{email}" placeholder="Эл. почта" type="text"
           style="margin-bottom: 10px; margin-left: 10px; border-radius: 5px;"><br>
    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: darkred"></div>

    <button type="submit" class="btn btn-success" style="margin-left: 10px">Добавить</button>
</form>

</body>
</html>